h1.title {
    color: #4B597B;
    font-size: 56px;
    letter-spacing: 1px;
    margin-bottom: 80px;
    font-family: 'Brandon Grotesque Black','Josefin Sans', sans-serif;
    text-align: center;
}

@media (max-width: 920px) {
    h1.title {
        margin-bottom: 50px;
        font-size: 46px;
    }
}