
.App {
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
}
.left-shape, .line-shape, .right-shape, .wave-shape, .circle-shape {
  position: absolute;
}
.left-shape {
  top: 160px;
  left: 0;
}
.line-shape {
  top: 230px;
  left: 50px;
}
.right-shape {
  bottom: 0;
  right: 0;
}
.wave-shape {
  top: 529px;
  left: 0px;
  width: 100px;
  transform: translateX(-40%);
}
.circle-shape {
  top: 160px;
  right: -45px;
  transform: rotate(-130deg);
}



